<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>

</head>
<body>



<div class="container mt-3">
    <header class="jumbotron my-3">
        <h1 class="display-3 text-center">Edit Post</h1>
    </header>
    <div class="card p-3">
        <form th:action="'/posts/edit/' + ${post.id}" th:method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" type="text" th:value="${post.title}" name="title">
            </div>
            <div class="form-group">
                <label for="body">Description</label>
                <textarea class="form-control" id="body" th:text="${post.body}" name="body"></textarea>
            </div>
            <button class="btn btn-warning btn-block">Update</button>
        </form>
    </div>
</div>

</body>
</html>