<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <th:block th:replace="fragments/header :: overlay"/>
</head>

<body>


    <div class="overlay" aria-hidden="true" id="edit-overlay">
        <div col-lg-8 col-md-10 mx-auto>
            <header class="jumbotron my-3">
                <h1 class="display-3 text-center">Edit Post</h1>
            </header>
            <div class="card p-3" id="edit-body">
                <form th:action="'/posts/edit/' + ${post.id}" th:method="post">
                    <div class="form-group title-box">
                        <label for="title">Title</label>
                        <input class="form-control" id="title" type="text" th:value="${post.title}"
                               name="title">
                    </div>
                    <div class="form-group body-box">
                        <label for="body">Description</label>
                        <textarea class="form-control" id="body" th:text="${post.body}"
                                  name="body"></textarea>
                    </div>
                    <button class="btn btn-warning btn-block">Update</button>
                    <button class="btn btn-primary btn-block close-overlay">Cancel</button>
                </form>
            </div>
        </div>
    </div>


</body>
<th:block th:replace="fragments/footer :: main-footer"/>
</html>