<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:fragment="main-footer">
    <script>
        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }


<!--    <script>    var body = document.body,-->
<!--        overlay = document.querySelector('.overlay'),-->
<!--        overlayBtts = document.querySelectorAll('button[class$="overlay"]');-->

<!--    [].forEach.call(overlayBtts, function(btt) {-->

<!--        btt.addEventListener('click', function() {-->
//
// <!--            /* Detect the button class name */-->
// <!--            var overlayOpen = this.className === 'open-overlay';-->
//
// <!--            /* Toggle the aria-hidden state on the overlay and the-->
// <!--               no-scroll class on the body */-->
// <!--            overlay.setAttribute('aria-hidden', !overlayOpen);-->
// <!--            body.classList.toggle('noscroll', overlayOpen);-->
//
// <!--            /* On some mobile browser when the overlay was previously-->
// <!--               opened and scrolled, if you open it again it doesn't-->
// <!--               reset its scrollTop property after the fadeout */-->
// <!--            setTimeout(function() {-->
// <!--                overlay.scrollTop = 0;              }, 1000)-->
//
// <!--        }, false);-->
//
// <!--    });-->
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</th:block>