<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:fragment="main-footer">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }

        $(document).ready(function(){
            $('.login-info-box').fadeOut();
            $('.login-show').addClass('show-log-panel');
        });


        $('.login-reg-panel input[type="radio"]').on('change', function() {
            if($('#log-login-show').is(':checked')) {
                $('.register-info-box').fadeOut();
                $('.login-info-box').fadeIn();

                $('.white-panel').addClass('right-log');
                $('.register-show').addClass('show-log-panel');
                $('.login-show').removeClass('show-log-panel');

            }
            else if($('#log-reg-show').is(':checked')) {
                $('.register-info-box').fadeIn();
                $('.login-info-box').fadeOut();

                $('.white-panel').removeClass('right-log');

                $('.login-show').addClass('show-log-panel');
                $('.register-show').removeClass('show-log-panel');
            }
        });
    </script>

</th:block>










<!--    <script>    var body = document.body,-->
<!--        overlay = document.querySelector('.overlay'),-->
<!--        overlayBtts = document.querySelectorAll('button[class$="overlay"]');-->

<!--    [].forEach.call(overlayBtts, function(btt) {-->

<!--        btt.addEventListener('click', function() {-->
//
// <!--            /* Detect the button class name */-->
// <!--            var overlayOpen = this.className === 'open-overlay';-->
//
// <!--            /* Toggle the aria-hidden state on the overlay and the-->
// <!--               no-scroll class on the body */-->
// <!--            overlay.setAttribute('aria-hidden', !overlayOpen);-->
// <!--            body.classList.toggle('noscroll', overlayOpen);-->
//
// <!--            /* On some mobile browser when the overlay was previously-->
// <!--               opened and scrolled, if you open it again it doesn't-->
// <!--               reset its scrollTop property after the fadeout */-->
// <!--            setTimeout(function() {-->
// <!--                overlay.scrollTop = 0;              }, 1000)-->
//
// <!--        }, false);-->
//
// <!--    });-->
