/* to the body element */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
/*.noscroll { overflow: hidden; }*/

/*@media (min-device-width: 1025px) {*/
/*    .noscroll {*/
/*        padding-right: 15px;*/
/*    }*/
/*}*/

/*.overlay {*/
/*    position: fixed;*/
/*    overflow-y: scroll;*/
/*    top: 0; left: 0; top: 0; bottom: 0;*/
/*}*/

/*[aria-hidden="true"] {*/
/*    transition: opacity 1s, z-index 0s 1s;*/
/*    width: 100vw;*/
/*    z-index: -1;*/
/*    opacity: 0;  }*/

/*[aria-hidden="false"] {*/
/*    transition: opacity 1s;*/
/*    width: 100%;*/
/*    z-index: 1;*/
/*    opacity: 1;*/
/*}*/


/*#body{*/
/*    height: 13em;*/

/*}*/
/*.title-box{*/
/*    padding-bottom:0px !important;*/
/*}*/
/*.body-box{*/
/*    padding-left: 0px !important;*/
/*    padding-right: 0px !important;*/
/*    padding-top: 0px !important;*/
/*}*/

/*.jumbotron{*/
/*    padding: 0 !important;*/
/*}*/
/*!* this code is not strictly necessary: just to make this demo a bit pleasant *!*/

/*.overlay div {*/
/*    border-radius: 1em;*/
/*    margin: 1vh auto;*/
/*    width: 80%;*/
/*    max-width: 650px;*/
/*    padding: 30px;*/
/*    max-height: 90vh;*/
/*    background: rgba(255,255,255, .95);*/
/*}*/
/*.overlay {*/
/*    background:  rgba(40,40,40, .75);*/
/*}*/










/** { box-sizing: border-box; }*/
/*button { padding: 1.5em 4em; cursor: pointer;}*/
/*pre { background: #fafafa; padding: 15px; border: 1px #ccd dashed; }*/
/*pre + p { margin: 5vh 0; }*/