<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Join</title>
<!--    <th:block th:replace="fragments/header :: main-header(branch)"/>-->
</head>
<body>

<h1 th:text="${cohort}"></h1>

<form action="/join" method="post">
    <input type="text" name="cohort" id="cohort-ip" class="field" />
<select name="branch">
    <option value="default">Make a Selection</option>
    <option value="army">Army</option>
    <option value="airforce">Air Force</option>
    <option value="navy">Navy</option>
    <option value="marines">Marines</option>
</select>
    <button>Join now</button>
</form>
<h2 th:if="${students != null}">Students List</h2>
<ul>
    <li th:each="student : ${students}" th:text="${student}"></li>
</ul>
</body>
</html>